body{
    background-color: goldenrod;
    color: dimgrey;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: x-large;
    font-weight: 700;
    width: 75%;
}
ol{
    display: flex;
    flex-direction: column;
    width: 40%;
    text-align: center;
    margin-left: 250px;
}
footer{
    font-size: 20px;
}
#results{
    background-color: dimgrey;
    color: goldenrod;
    font-weight: 700;
    font-size: 30px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

